.container {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 15px grey;
	width: 700px;
	margin: 50px auto;
}

p{
	text-align: justify;
}

.left {
	float: left;
	margin-bottom: 10px;
}

.right {
	float: right;
	margin-bottom: 10px;
}

a{
	color: darkgray;
	background-color: lightgray;
	text-decoration: none;

}

a:hover{
	color: chocolate;
}

.vonal{
	width: 100%;
	margin: 10px auto;
	border: 1px solid darkgray;
}

.img-box{
	width: 200px;
	background-color: #eee;
	margin: 10px;
	padding: 10px;
	border: 1px solid #999;
}